
.user-input {
  text-align: center;
}

.jumbotron {
  text-align: center;
}

.winner {
  text-align: center;
  font-weight: bold;
  display: none;
}

.players-labels {
  text-align: center;
  margin-bottom: 40px;
  display: none;
}

.center-board {
  display: none;
}

h3 {
  display: inline;
  margin: 10%;
}

#player-x {
  font-size: 35px;
  color: green;
}

#player-o {
  font-size: 35px;
  color: green;
}

.green-back {
  background-color: lightgreen;
}

.white-back {
  background-color: #FFF;
}

#row1 div {
  height: 150px;
}

.tileCol {
  padding: 0px;
}

.tileCol div {
  border-style: solid;
  border-color: green;
  border-width: 1px;
  border-radius: 10px;
}

.tile p {
  text-align: center;
}

.tile span {
  text-align: center;
  font-size: 100px;
}
