
.user-input {
  text-align: center;
}

.jumbotron {
  text-align: center;
  background-color: black;
}

.jumbotron h1 {
  color:black;
  text-shadow: 0px 0px 1px #FFF;
  font-size: 100px;
}

.winner-area {
  text-align: center;
  font-weight: bold;
  display: none;
}

.winner-area h1{
  font-family: helvetica;
  font-size: 100px;
  font-weight: bold;
  color: #01bc87;
  text-shadow: 5px 5px 6px #7ae291;
}

.players-labels {
  text-align: center;
  margin-bottom: 40px;
  display: none;
}

.players-labels img {
  height: 80px;
}

.imgFlip {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
  filter: FlipH;
}

.center-board {
  display: none;
}

h3 {
  display: inline;
  margin: 10%;
}

h1 {
  display: inline;
}

#player-x {
  font-size: 35px;
  color: #08541a;
}

#player-o {
  font-size: 35px;
  color: #08541a;
}

.green-back {
  background-color: #d3ffdd;
}

.white-back {
  background-color: #FFF;
}

#row1 div {
  height: 150px;
}

.tileCol {
  padding: 0px;
}

.tileCol div {
  border-style: solid;
  border-color: #e8e8e8;
  border-width: 1px;
  border-radius: 10px;
}

.tile p {
  text-align: center;
}

.tile span {
  text-align: center;
  font-size: 100px;
}
